.correction-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.correction-page-container {
    display: flex;
    width: 100%;
    height: 80%;
}

.correction-page-input{
    margin: 10px;
    flex: 1;
    height: 80vh;
}

.correction-page-output{
    margin: 10px;
    flex: 1.5;
    height: 80vh;
}

.correction-page-controls {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}
