.sign-up-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sign-up-page button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.sign-up-page button:disabled:hover {
    background-color: #cccccc;
    color: #666666;
}

.sign-up-page input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

.sign-up-page button {
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

.sign-up-page button:hover {
    background-color: #007BFF;
}